.top {
    display: flex;
    justify-content: space-between;
    margin: 13px;
}

.qol {
    padding-top: 2px;
}

#svg-icon {
    height: 20px;
    position: relative;
    top: 5px;
}

.btn {
    background: none;
	color: black;
	border: none;
	padding: 10px;
	cursor: pointer;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}

.btn:hover {
    text-decoration: underline;
}

#sign-in {
    background: #1a73e8;
	color: white;
	padding: 10px 24px 10px 24px;
	cursor: pointer;
    border-radius: 3px;
    border: thin;
    margin-left: 10px;
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

#sign-in:hover {
    background: #1a53e0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-align {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 50px;
}
.mid-container {
    width: 600px;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: auto;
}

#site-search {
    border-radius: 50px;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 25px;
    background-color: white;
    padding: 10px 45px 10px;
    border: solid 1px lightgray;
}

#site-search:hover, #site-search:focus {
    box-shadow: 0px 3px 7px 0px #dfe1e5;
  }

.search-btn {
    color: black ;
    background-color: #f8f9fa;
    padding: 5px 10px 5px;
    border: solid 1px #f8f9fa;
    border-radius: 3px;
    cursor: pointer;
    outline: black;
}

.search-btn:hover {
    border: solid 1px lightgrey;
}

.lucky-btn {
    margin-left: 10px;
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
}

.search-icon {
    position: absolute;
    top: 45px;
    left: 17px;
    width: 20px;
    filter: invert(67%) sepia(3%) saturate(222%) hue-rotate(183deg) brightness(92%) contrast(96%);
  }

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding: 0px 20px 0px 20px;
    background-color: #dadce0;
  }

.container {
    margin-top: auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.flex-container {
    flex: 1;
}